#gallery {
 
}

#gallery li {

}

.paging-nav ol,
.paging-nav ul {
  list-style: none;
  padding: 0;
}

.paging-nav li {
  float: left;
  cursor: pointer;
  margin: 0 .5em .5em 0;

}

.paging-nav a {
  display: block;
  cursor: pointer;
  height: 30px;
  width: 44px;
  background: #36bff6;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 14px !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 30px;
  padding-top: 5px;
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}
.counter {
	border:1px solid transparent;
}
.appeared {
	background:#0ed256 !important;
}
.not-appeared {
	background:#fb430b !important;	
	color:#fff;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after { clear: both; }

.clearfix { *zoom: 1;
}
