.elementor-kit-5 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-1996713: #FFC800;
    --e-global-color-700130e: #FFFFFF;
    --e-global-color-781cb35: #000000;
    --e-global-color-7d6b4fc: #191A1F;
    --e-global-color-245ba9c: #FF0000;
    --e-global-color-9ea884b: #F1F1F1;
    --e-global-typography-primary-font-family: "Poppins";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Poppins";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Poppins";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Poppins";
    --e-global-typography-accent-font-weight: 500;
    color: #000000;
}

.elementor-kit-5 a {
    font-family: "Georgia", Sans-serif;
    font-weight: 600;
}

.elementor-kit-5 h1 {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-kit-5 h2 {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-kit-5 h3 {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-kit-5 h4 {
    color: #000000;
    font-family: "Georgia", Sans-serif;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-5 e-page-transition {
    background-color: #FFBC7D;
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-5 {
        font-size: 15px;
    }

    .elementor-kit-5 h1 {
        font-size: 22px;
    }

    .elementor-kit-5 h2 {
        font-size: 20px;
    }

    .elementor-kit-5 h3 {
        font-size: 18px;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}