#popup_container {
font-family:'Lucida Grande',arial;
	font-weight:normal;
	
	text-align:left;
	font-size: 12px;
	width: 400px; 
	min-height: 180px; 
	background: #fff;
	
	border:solid 1px #dedede;
	border-bottom: solid 3px #ccc;
	color: #000;
	border-radius:6px;
	padding:50px;
	
}

#popup_title {
display:block;
color:#fff;
 background: #F48121;
 font-size:14px;
 border-radius:4px;
 margin:4px 4px 4px 4px;
 padding:5px 5px 5px 15px;
}



#popup_message {
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;
min-height: 80px;
border-bottom:solid 1px #dedede;
line-height:1;
text-align:justify;
}

#popup_panel {
padding-left:15px;
margin-top:10px;
float:right	;
margin-right:15px;
}
#popup_ok {
  background: #3498db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  padding:5px;
   margin-bottom:10px;
}

#popup_ok:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#popup_cancel {
	background: #d61313;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  padding:5px;
  margin-bottom:10px;
}

#popup_cancel:hover{
  background: #eb4040;
  text-decoration: none;
}


